* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  background-color: bisque;
  padding: 20px;
  border-radius: 15px;
}
.container h1 {
  font-size: 30px;
  text-transform: uppercase;
}
.gradient_button {
  height: 50px;
  width: 150px;
  font-size: 15px;
  font-weight: 400;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  outline: 0;
  text-transform: uppercase;
  line-height: 1.2;
}
.gradient_button:hover {
  background-position: right center;
  cursor: pointer;
}
.nav-link {
  text-align: center;
}
.tab-pane {
  padding: 20px;
  background-color: aqua;
  border-radius: 15px;
}
.tab-pane p {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}
.form-group input {
  border: 1px solid blue;
  height: 40px;
}
.tab_item .output {
  border: 1px solid #585858;
  border-radius: 5px;
  margin: 15px 0px;
  font-size: 15px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: rgb(181, 233, 75);
  padding-left: 15px;
}
.tab_item .output i {
  font-size: 25px;
}
.tab_item .output p {
  margin-top: 10px;
  margin-left: 10px;
}
.form_control {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid blue;
  margin-right: 15px;
}
.button_container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
